@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.btn {
    padding: 1rem 2rem;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    display: inline-block;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.nav__links a, .nav__social a {
    padding: 0 1rem;
}

.header {
    text-align: center;
}

.header__title { 
    padding: 3rem 0;
}

/* MOBILE STYLES FOR NAV */
@media only screen and (max-width: 600px) {
    .nav__links {
        display: none;
    }
}

/* DESKTOP STYLES */

@media only screen and (min-width: 920px) {
    .header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    }

    .header__title {
        text-align: left;
    }

    .header__photo img {
        height: 500px;
        border-radius: 10px;
    }
}